---
permalink: /feed.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ site.language }}">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ '/feed.xml' | absoluteSiteUrl(site.url) }}" rel="self" />
  <link href="{{ '/' | absoluteSiteUrl(site.url) }}" />
  <updated>{{ collections.feedEntries[0].updated | dateToRfc3339 }}</updated>
  <id>{{ '/' | absoluteSiteUrl(site.url) }}</id>
  <author>
    <name>{{ site.author.name }}</name>
  </author>
  {% for entry in collections.feedEntries %}
    {% set canonicalUrl = entry.url | absoluteSiteUrl(site.url) %}
    {% set entryId = entry.id | absoluteSiteUrl(site.url) %}
  <entry>
    <title>{{ entry.title | escape }}</title>
    <link href="{{ canonicalUrl }}" />
    <published>{{ entry.published | dateToRfc3339 }}</published>
    <updated>{{ entry.updated | dateToRfc3339 }}</updated>
    <id>{{ entryId }}</id>
    <category term="{{ entry.contentType }}" />
    {% if entry.summary %}<summary>{{ entry.summary | escape }}</summary>{% endif %}
  </entry>
  {% endfor %}
</feed>
